@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --amazon-blue: #131921;
  --amazon-light: #232F3E;
}

@layer components {
  .link {
    @apply hover:underline cursor-pointer;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-amazon-blue: var(--amazon-blue);
  --color-amazon-light: var(--amazon-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
